/* roboto font */
/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
		url('../fonts/roboto-v15-latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */  
		 url('../fonts/roboto-v15-latin-300.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */  
		 url('../fonts/roboto-v15-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('../fonts/roboto-v15-latin-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */  
		 url('../fonts/roboto-v15-latin-500.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('../fonts/roboto-v15-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */  
		 url('../fonts/roboto-v15-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header {
	background-color: #ff9900;
	border-color: #ff9900;
	height: 15px;
	margin-bottom: 15;
	position: fixed;
}

#header h1, #header h2, #header h3, #header h4, #header h5 {
	margin: 0;
}

#header .container-fluid {
	padding: 0px;
}

#header .container-fluid>.navbar-header {
	margin: 0;
}

#header #sidebar-toggle-button {
	color: #fff;
	cursor: default;
	display: inline-block;
	font-size: 12px;
	margin: 0 2px;
	padding: 10px 4px;
}

#header .brand {
	color: #ff9900;
	display: inline-block;
	font-size: 15px;
	line-height: 0;
	padding: 0px 0px 0px 0;
}

#header .brand a {
	color: #fff;
	text-decoration: none;
}

#header .brand span {
	cursor: default;
	margin-left: 40px;
}

#header .brand span .fa {
	cursor: default;
	right: 0px;
	txt-color: red;
	font-size: 15px;
	margin-left: 50px;
}

#sidebar {
	background-color: #eea;
	border-right: 1px solid #ccc;
	bottom: 0;
	display: block;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: fixed;
	top: 50px;
	width: 113px;
	z-index: 1000;
}

#sidebar>ul.nav {
	padding-bottom: 24px;
}

#sidebar>ul.nav>li {
	margin: 0;
}

#sidebar>ul.nav>li>a {
	color: #20252b;
	font-size: 12px;
	font-weight: 700;
}

#sidebar>ul.nav>li>a:hover, #sidebar>ul.nav>li>a.active {
	background-color: #e1e1a1;
}

#sidebar>ul.nav>li ul.sub-menu>li:hover, #sidebar>ul.nav>li ul.sub-menu>li.active
	{
	background-color: #e1e1a1;
}

#sidebar>ul.nav>li>a>span {
	margin-left: 6px;
}

#sidebar>ul.nav>li ul.sub-menu {
	list-style: none;
	padding: 0;
}

#sidebar>ul.nav>li ul.sub-menu>li>a {
	color: #000;
	display: block;
	padding: 7px 5px 7px 40px;
	text-decoration: none;
}

#sidebar>ul.nav>li.divider {
	background-color: #ccc;
	height: 1px;
	margin: 0;
	overflow: hidden;
}
/* sidebar toggle */
.sidebar-toggle {
	display: none !important;
}

.page-content-toggle {
	margin-left: 0; /*inherit !important;*/
	left: 100px;
}

#footer {
	bottom: 0;
	height: 45px;
	padding-left: 320px;
	position: fixed;
}

@media ( min-width : 776px) {
	#sidebar {
		display: none;
	}
	.sidebar-toggle {
		display: block !important;
	}
	.page-content-toggle {
		margin-left: 264px !important;
	}
}