<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security-4.2.xsd">
	<!-- <http>
		<intercept-url pattern="/anasayfa" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page='/login.html' default-target-url="/homepage.html"
			authentication-failure-url="/login.html?error=true" />

		<logout logout-success-url="/login.html" />
	</http>
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="emrah.denizer" password="1234" authorities="hasRole(ROLE_ADMIN)" />
			</user-service>
		</authentication-provider>
	</authentication-manager> -->
	
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="emrah.denizer" password="1234" authorities="hasRole(ROLE_ADMIN)" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	 <http auto-config="true" >
        <intercept-url pattern="/" access="permitAll" />
	  <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')" />
	 <form-login login-page="/giris.jsp" authentication-failure-url="/giris.jsp?login_error=1"/>
    <logout logout-success-url="/giris.jsp"/>
	</http>
</beans:beans>  